body {
	background-image: url("../public/galaxy.jpg");
  }
  .card > input, button{
	border: none;
	padding: 0.5em;
  }

  .header {
	padding-bottom: 1.1em;
	padding-top: 1.2em;
	text-align: center;
  } 
   
  .card > h3 {
	text-align: left;
  }

  .cardgrid {
	margin-top: 2.2em;
	grid-gap: 1.1em;
	margin-bottom: 6.6em;
	grid-template-columns: repeat(3, 1fr);
	display: grid;
  }


    
  .card {
	border: 2px solid #d62c46;
	text-align: left;
	background-color: #6a80ff;
	padding: 1.1em;
	margin: 0.8em;
  }